.portfolio-navbar {
  display: flex;
  gap: 18px;
  background: rgb(35, 39, 42, 0.61);

  backdrop-filter: blur(5px);

  border-radius: 10px;
  padding: 8px 24px;
  margin: 0 auto;
  margin-top: 24px;
  width: fit-content;
  position: relative;
  z-index: 100;
}

.portfolio-navbar-link {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 4px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s;
  z-index: 888888;
}

.portfolio-navbar-link.active,
.portfolio-navbar-link:focus {
  background: #444950;
  font-weight: bold;
  z-index: 888888;
}
